
.fixed {
background:url(http://i.imgur.com/djWvryS.jpg);
background-size:100%;
font-family: 'Abel';
position:top;
width:100%;
font-size:150%;
padding:3%;
}
/* latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(http://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
	margin: 0;
	padding: 0;
}



p {
	font-size: 1.3em;
	margin-top: 115px;
  margin-left: 250px;
}



#contact-area {
	width: 600px;
	margin-top: 125px;
  margin-left: 200px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: 'Abel';
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}
